.h-line-primary {
  background-color: $color-text-primary;
  height: $line-third;
}
.h-line-secondary {
  background-color: $color-text-primary;
  height: $line-third;
}
hr {
  background-color: $color-text-primary;
  height: $line-third;
  border: 0;
}
.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $margin-m-0;
}
.tag-title {
  margin: $margin-m-1 0;
  color: $color-text-primary;
  font-size: $font-size-header;
}
.tag-title a {
  color: $color-text-primary;
}
.post-tag {
  border: $line-third solid $color-text-secondary;
  margin-right: $margin-s-2;
  margin-bottom: $margin-s-2;
  padding: $margin-s-2 $margin-m-0 $margin-s-2 $margin-m-0;
  border-radius: $margin-m-2;
}
.post-tag a {
  background-image: none !important;
}
.post-tag:hover {
  background-color: $color-text-secondary;
}
.post-tag:hover a {
  color: $color-background;
}
